extends layout

block content

  h1 Кабинет
  form(method='POST', action='/cobinet', enctype='multipart/form-data', role='form', name='login-form')
      input(type='file', name='book')
      input(type='submit', name='load') 
