extends layout
head
     
body
  block content
   #gallery
      a(href='#')
        span.title Gibson 1
        img.saturate(height='500px', width='200px', src='../images/g2.jpg')
      a(href='#')
        span.title Gibson 2
        img.grayscale(height='500px', width='200px', src='../images/g2.jpg')
      a(href='#')
        span.title Gibson 3
        img.contrast(height='500px', width='200px', src='../images/g3.jpg')
      a(href='#')
        span.title Gibson 4
        img.huerotate(height='300px', width='420px', src='../images/g4.jpg')
      a(href='#')
        span.title Gibson 5
        img.blur(height='500px', width='200px', src='../images/g5.jpg')

