doctype html
html
  head
  
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    

  body
#wrapper
  .page
    .header
      h1.name Gibson
      .logo
        a(href='#')
          img(height='100px', src='/images/GWL.png')
      nav
        ul.top-menu
          hr
          li
            a.button.grow(href='home') HOME
          li 
            a.button.grow(href='index') ABOUT US
          li
            a.button.grow(href='/services/') SERVICES
          li
            a.button.grow(href='/partners/') PARTNERS
          
          li
            a.button.grow(href='contact') CONTACT
          li
            a.button.grow(href='projects') PROJECTS
          li
            a.button.grow(href='reg') REGISTRATION
          li
            a.button.grow(href='cobinet') COBINET
         
            if userid
               a(href='logout') Выход
               a(href='cobinet') Кабинет
             else
               a(href='reg') Вход/Регистрация
          hr
    div
      nav
        ul.aside-menu
          li
            a.button.grow(href='/gutars/') Gutars
          li
            a.button.grow(href='/amps/') Guitar amps
          li
            a.button.grow(href='/accessories/') Guitar accessories
          li
            a.button.grow(href='/strings/') Strings
          li
            a.button.grow(href='/drums/') Drums and percussion
          li
            a.button.grow(href='/audio/') Audio Equipment
    .menu-right
      nav
        ul.aside-menu2
          h2 OUR OFFICES
          p
            img(width='200', height='200', alt='Our offices', src='/images/map.png')
        ul.aside-menu3
          h2 Banner
          p
            img(width='200', height='120', alt='Banner', src='/images/banner.png')
      
    section
      blockquote
           p
            | “Music should strike fire from the hearts of men”
           cite Ludwig van Beethoven
 
      h2.name2 

        block content
        div.content

  footer
    #footer
        .image-effect-fall-back
            .share-layer
                 a.share-button.share-via-facebook(href='https://ru-ru.facebook.com/')
                   i.fa.fa-facebook
                        | Facebook
                 a.share-button.share-via-twitter(href='https://twitter.com/')
                   i.fa.fa-twitter
                        |  Twitter
                 a.share-button.share-via-google(href='https://www.google.com/')
                   i.fa.fa-google
                        |  Google +
        
   