doctype html
html(ng-app)
	head
		meta(charset='utf-8')
		title Alpha
		for style in styles
			link(rel='stylesheet', href='#{style}')
		for script in scripts
			script(src='#{script}')
	body
		#wrapper
			.page
				.header
					h1.name Gibson
					.logo
						a(href='#')
							img(height='100px', src='/images/GWL.png')
				nav
					ul.top-menu
								hr
								li
									a.button.grow(href='home') HOME
								li 
									a.button.grow(href='index') ABOUT US
								li
									a.button.grow(href='chat') CHAT
								li
									a.button.grow(href='video') VIDEO
								li
									a.button.grow(href='contact') CONTACT
								li
									a.button.grow(href='projects') PROJECTS
								li
								if userid
									li
										a.button.grow(href='cobinet') COBINET
									li
										a.button.grow(href='logout') EXIT
								else
									li
										a.button.grow(href='reg') REGISTRATION
								hr
			div
				nav
					ul.aside-menu
							li
								a.button.grow(href='/gutars/') Gutars
							li
								a.button.grow(href='/amps/') Guitar amps
							li
								a.button.grow(href='/accessories/') Guitar accessories
							li
								a.button.grow(href='/strings/') Strings
							li
								a.button.grow(href='/drums/') Drums and percussion
							li
								a.button.grow(href='/audio/') Audio Equipment
			.menu-right


			section
				blockquote
					p
						| “Music should strike fire from the hearts of men”
						cite Ludwig van Beethoven
 
				h2.name2 
				
				div.content
				block content
				block location
				block index
				block video
				block canvas
			.footer
