extends layout

block content
 h1 Andy James 
 .video-responsive
     iframe(width='900', height='600', src='//www.youtube.com/embed/v9ebbMpORTE', frameborder='0', allowfullscreen='')
 h1 Christophe Godin 
 .video-responsive 
       iframe(width='900', height='600', src='//www.youtube.com/embed/69z2oGxX_iU', frameborder='0', allowfullscreen='')

